*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scrollbar-width: 10px;
    scroll-behavior: smooth;
    position: relative;
}
::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(251, 255, 0, .5); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(251, 255, 0, 1); 
}
.navbar{
    top:0;
    background-color: rgb(5, 0, 16);
    width: 100%; 
    padding-right: 100px; 
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky
}
.navdiv{
    display:  flex; 
    align-items: center; 
    justify-content: space-between;
}
body{
    background-color: rgb(5, 0, 16);
}
.all{
    z-index: -1;
}
.Profile{
    display: flex; 
    align-items: center;
    margin: auto;   
}
.bglap{
    position: absolute; 
    width: 100%;
    background-color: rgb(11, 0, 40);
    margin-top: 0%;
    padding-bottom: 338px;
    z-index: -1;
}
.MyWorks{
    display:  flex; 
    align-items: center; 
    justify-content: space-around;
}
.FnC{
    display: flex; 
    align-items: center;
    margin: auto; 
}
.container{
    display:  flex; 
    align-items: center; 
    justify-content: space-between;
}
